#masthead{
  background: url(assets/images/backgrounds/index.png);
  background-position: center;
  background-repeat: no-repeat;

  height: 655px;
}
#header-nav{

}
#primary-nav{
  text-align: center;
}
#default-header nav ul li a{
  color: white;
}

.primary-nav{
  background-color: #e90729;
}
@media (max-width: 768px){
  #masthead{

  }
}
